html/article.html
<!DOCTYPE html>
<html>
  <head>
    <title>Jomp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <link rel="preload" as="style" media="all" href="css/header.css" onload="this.rel='stylesheet'">
    <link rel="preload" as="style" media="all" href="css/critical.css" onload="this.rel='stylesheet'">
    <link rel="stylesheet" media="all" href="css/all.css">
  </head>
  <body>
    <div id="wrapper">
      <div class="w1">
        <header id="header">
          <div class="container">
            <div class="logo-holder"><a class="logo" href="index.html"><img src="images/Logo.svg" alt="Jomp" width="53" height="51"></a><a class="nav-opener" href="#"></a></div>
            <nav id="nav">
              <div class="menu-holder">
                <ul class="menu">
                  <li><a href="index.html"></a></li>
                  <li><a href="video_adv.html">Видеореклама</a></li>
                  <li><a href="billboard_adv.html">Реклама на билбордах</a></li>
                  <li><a href="sites.html">Площадкам</a></li>
                  <li class="active"><a href="blog.html">Блог</a></li>
                  <li class="popup-holder"><a class="opener">Еще</a>
                    <ul class="popup">
                      <li><a href="#">FAQ</a></li>
                      <li><a href="#">О проекте</a></li>
                      <li><a href="#">Партнерская программа</a></li>
                      <li><a href="#">Платежи</a></li>
                      <li><a href="#">Правила участия</a></li>
                      <li><a href="#">Контакты</a></li>
                    </ul>
                  </li>
                </ul>
                <div class="nav-menu-buttons">
                  <button class="btn" type="button">Зарегистрироваться</button>
                  <p>
                    <button class="text-btn" type="button">Войти</button>
                  </p>
                </div>
              </div>
            </nav>
            <div class="registration-buttons">
              <button class="text-btn" type="button">Вход</button>
              <button class="btn" type="button">Регистрация</button>
            </div>
          </div>
        </header>
        <div class="has-border" id="main">
          <div class="container">
            <ul class="breadcrumb">
              <li><a href="blog.html">Блог</a></li>
              <li><span>Наружная реклама</span></li>
            </ul>
            <div class="article-caption">
              <h1>Что такое unit-экономика стартапа</h1>
              <div class="post-info-block">
                <ul class="post-info-list">
                  <li><img class="icon" src="images/date-icon-dark.svg" alt="icon" width="20" height="21" loading="lazy"><span>30.01.2018</span></li>
                  <li><img class="icon" src="images/eye-icon-dark.svg" alt="icon" width="20" height="10" loading="lazy"><span>546</span></li>
                </ul>
                <div class="rate-block"><span class="title">4.1</span>
                  <div class="rating">
                    <input id="rating-5" type="radio" value="5" name="rating" checked>
                    <label for="rating-5" title="5 stars"></label>
                    <input id="rating-4" type="radio" value="4" name="rating" checked>
                    <label for="rating-4" title="4 stars"></label>
                    <input id="rating-3" type="radio" value="3" name="rating" checked>
                    <label for="rating-3" title="3 stars"></label>
                    <input id="rating-2" type="radio" value="2" name="rating">
                    <label for="rating-2" title="2 stars"></label>
                    <input id="rating-1" type="radio" value="1" name="rating">
                    <label for="rating-1" title="1 stars"></label>
                  </div><span class="rate-amount visible-tablet">145 оценок</span>
                </div>
              </div>
            </div>
            <div class="article-img">
              <picture class="bg-strech">
                <source srcset="images/img20.webp" type="image/webp">
                <source srcset="images/img20.jpg" type="image/jpg"><img src="images/img20.webp" alt="image" width="1282" height="504" loading="lazy">
              </picture>
            </div>
            <div class="article-layout">
              <div class="content">
                <div class="main-article-text">
                  <p class="lead-text">Принятие решений на основе цифр. Максимальный эффект. Кратный рост. <br/> Фокус-Скорость-Результат. UA, C1, B, AVP, COGS, APC, ARPC, ARPU, AC, CPA, CM и много других непонятных сокращений.</p>
                  <div class="gray-bg-block"><strong class="title">Содержание</strong>
                    <ol class="ordered-list">
                      <li><span>Что такое юнит-экономика и зачем она нужна</span>
                        <ol class="ordered-list">
                          <li><span>С чего начать</span></li>
                          <li><span>Инструменты, шаблоны</span></li>
                        </ol>
                      </li>
                      <li><span>Решаем задачи и нарабатываем навык работы</span>
                        <ol class="ordered-list">
                          <li><span>Симулятор стартапа</span></li>
                          <li><span>IPO</span></li>
                          <li><span>Шаблон расчёта</span></li>
                          <li><span>Бот</span></li>
                        </ol>
                      </li>
                    </ol>
                  </div>
                  <h2 class="h4">О чём публикация и что стоит знать</h2>
                  <p>Юнит-экономика (unit economics) — метод экономического моделирования, используемый для определения прибыльности бизнес-модели, путем оценки прибыльности единицы товара или одного клиента.Как правило, применяется для оценки прибыльности бизнес-идеи стартапа.</p>
                  <p>Бизнес может быть успешным только если отдельная единица товара или услуги будет прибыльной.</p>
                  <figure class="content-article-img">
                    <picture>
                      <source srcset="images/img21.webp" type="image/webp">
                      <source srcset="images/img21.png" type="image/png">
                      <source srcset="images/img21-mob.webp" type="image/webp" media="(min-width: 768px)">
                      <source srcset="images/img21-mob.png" type="image/png" media="(min-width: 768px)"><img class="hidden-tablet" src="images/img21-mob.webp" alt="image" width="320" height="182" loading="lazy"><img class="visible-tablet" src="images/img21.webp" alt="image" width="736" height="517" loading="lazy">
                    </picture>
                    <figcaption>Это пример подписи к изображению</figcaption>
                  </figure>
                  <p>Симулятор стартапа от Даниила Ханина, который заставляет вас пройти через все круги aда (то есть через все стадии стартапа). Потратив один день на эту игру, вы сможете на практике понять, как работать с юнит-экономикой, на какие показатели на каждой стадии стоит фокусироваться. Будьте готовы к тому, что вам нужно будет начинать игру с начала много раз.</p><strong class="additional-article-title">Статья по теме:</strong>
                  <div class="additional-article"><a class="image" href="#" style="background-image:url('images/img22.png')">
                      <picture class="bg-strech">
                        <source srcset="images/img22.webp" type="image/webp">
                        <source srcset="images/img22.png" type="image/png"><img src="images/img22.webp" alt="image" width="92" height="81" loading="lazy">
                      </picture></a>
                    <div class="text"><strong class="title"><a href="#">Как посчитать ROI наружной рекламы</a></strong>
                      <p class="visible-tablet">Рацион должен быть полностью сбалансированным, без излишеств и недоеданий.</p><a class="category-link hidden-tablet" href="#">Оптимизация</a>
                    </div>
                  </div>
                  <h3>Самое важное: решаем задачи и нарабатываем навык работы с юнит-экономикой</h3>
                  <p>Если вы любитель хардкора: просто начинайте сразу с симулятора стартапа. Когда вы дойдете до стадии IPO, можно будет смело сказать, что в азах юнит-экономики вы шарите. Рекомендую сразу открыть в соседней вкладке шаблон расчёта, вводить в него все данные из симулятора и искать метрику, изменение которой даст вам больше выхлопа и приблизит к следующей стадии проекта.</p>
                  <ul class="bullet-list">
                    <li>Шаблон от Ильи Красинского;</li>
                    <li>Шаблон от Даниила Ханина ;</li>
                    <li>Калькулятор ueCalc от Ханина.</li>
                  </ul>
                  <h3>Набор инструментов</h3>
                  <p>Рекомендую сразу открыть в соседней вкладке шаблон расчёта, вводить в него все данные из симулятора и искать метрику</p>
                  <ul class="content-list">
                    <li><strong class="lead">Инструмент 1:</strong><span>Бот от команды Ильи Красинского, который присылает кейсы, видео, разные материалы.</span></li>
                    <li><strong class="lead">Инструмент 2:</strong><span>Симулятор стартапа от Даниила Ханина</span></li>
                    <li><strong class="lead">Инструмент 3:</strong><span>Если вы любитель хардкора: просто начинайте сразу с симулятора стартапа</span></li>
                  </ul>
                  <figure class="content-article-img">
                    <picture>
                      <source srcset="images/img23.webp" type="image/webp">
                      <source srcset="images/img23.png" type="image/png">
                      <source srcset="images/img23-mob.webp" type="image/webp" media="(min-width: 768px)">
                      <source srcset="images/img23-mob.png" type="image/png" media="(min-width: 768px)"><img class="hidden-tablet" src="images/img23-mob.webp" alt="image" width="320" height="182" loading="lazy"><img class="visible-tablet" src="images/img23.webp" alt="image" width="736" height="517" loading="lazy">
                    </picture>
                    <figcaption>Это пример подписи к изображению</figcaption>
                  </figure>
                  <p>Юнит-экономика показывает как бизнес зарабатывает с потока пользователей. Схема работы бизнеса: на входе принимаем пользователей, которые проходят через черный ящик бизнеса и приносят деньги. При этом помним, что деньги бывают как со знаком плюс, так и минус.</p>
                </div>
                <div class="share-block"><strong class="subtitle">Поделиться с друзьями</strong>
                  <ul class="share-list">
                    <li><a href="#"><img class="icon" src="images/share-vk.svg" alt="icon" width="18" height="18" loading="lazy"><span>Поделиться</span></a></li>
                    <li><a href="#"><img class="icon" src="images/share-ok.svg" alt="icon" width="18" height="18" loading="lazy"><span>Поделиться</span></a></li>
                    <li><a href="#"><img class="icon" src="images/share-fb.svg" alt="icon" width="18" height="18" loading="lazy"><span>Поделиться</span></a></li>
                    <li><a href="#"><img class="icon" src="images/share-tw.svg" alt="icon" width="18" height="18" loading="lazy"><span>Поделиться</span></a></li>
                    <li><a href="#"><img class="icon" src="images/share-lk.svg" alt="icon" width="18" height="18" loading="lazy"><span>Поделиться</span></a></li>
                  </ul>
                </div>
                <div class="recommend-material visible-desktop">
                  <h3>Рекомендуем почитать по теме</h3>
                  <div class="recommend-topics-frame">
                    <div class="recommend-topic">
                      <div class="topic-img">
                        <picture class="bg-strech">
                          <source srcset="images/img24.webp" type="image/webp">
                          <source srcset="images/img24.png" type="image/png"><img src="images/img24.webp" alt="image" width="354" height="220" loading="lazy">
                        </picture><span class="label">Наружная реклама</span>
                      </div>
                      <h4><a href="article.html">Как посчитать ROI наружной рекламы</a></h4>
                      <ul class="post-info-list">
                        <li><img class="icon" src="images/date-icon-dark.svg" alt="icon" width="20" height="21" loading="lazy"><span>30.01.2018</span></li>
                        <li><img class="icon" src="images/eye-icon-dark.svg" alt="icon" width="20" height="10" loading="lazy"><span>546</span></li>
                      </ul>
                    </div>
                    <div class="recommend-topic">
                      <div class="topic-img">
                        <picture class="bg-strech">
                          <source srcset="images/img25.webp" type="image/webp">
                          <source srcset="images/img25.png" type="image/png"><img src="images/img25.webp" alt="image" width="354" height="220" loading="lazy">
                        </picture><span class="label">Наружная реклама</span>
                      </div>
                      <h4><a href="article.html">Как запустить эффективную и прибыльную рекламу</a></h4>
                      <ul class="post-info-list">
                        <li><img class="icon" src="images/date-icon-dark.svg" alt="icon" width="20" height="21"><span>30.01.2018</span></li>
                        <li><img class="icon" src="images/eye-icon-dark.svg" alt="icon" width="20" height="10"><span>546</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <aside class="aside">
                <div class="aside-articles-frame"><strong class="subtitle"><span class="visible-tablet">Популярные статьи</span><span class="hidden-tablet">Рекомендуем почитать по теме</span></strong>
                  <div class="additional-article"><a class="image" href="article.html">
                      <picture class="bg-strech">
                        <source srcset="images/img22.webp" type="image/webp">
                        <source srcset="images/img22.png" type="image/png"><img src="images/img22.webp" alt="image" width="100" height="81" loading="lazy">
                      </picture></a>
                    <div class="text"><strong class="title"><a href="article.html">Как посчитать ROI наружной рекламы</a></strong><a class="category-link" href="#">Оптимизация</a></div>
                  </div>
                  <div class="additional-article"><a class="image" href="article.html">
                      <picture class="bg-strech">
                        <source srcset="images/img26.webp" type="image/webp">
                        <source srcset="images/img26.png" type="image/png"><img src="images/img26.webp" alt="image" width="100" height="81" loading="lazy">
                      </picture></a>
                    <div class="text"><strong class="title"><a href="article.html">Что такое unit-экономика стартапа</a></strong><a class="category-link" href="#">Наружная реклама</a></div>
                  </div>
                  <div class="additional-article"><a class="image" href="article.html">
                      <picture class="bg-strech">
                        <source srcset="images/img27.webp" type="image/webp">
                        <source srcset="images/img27.png" type="image/png"><img src="images/img27.webp" alt="image" width="100" height="81" loading="lazy">
                      </picture></a>
                    <div class="text"><strong class="title"><a href="article.html">Как запустить эффективную и прибыльную рекламу</a></strong><a class="category-link" href="#">Исследования</a></div>
                  </div>
                </div>
                <div class="subscribe-block">
                  <h3>Подпишитесь на блог Jomp</h3>
                  <p>Получайте еженедельно полезный контент видеорекламу и заработок на сайтах</p>
                  <form action="#">
                    <input type="email" value="subscriber@gmail.com">
                    <button class="btn has-shadow" type="submit">Подписаться</button>
                  </form>
                </div>
              </aside>
            </div>
          </div>
        </div>
      </div>
      <footer id="footer">
        <div class="container">
          <div class="top-section">
            <div class="large-col">
              <div class="logo-col visible-tablet"><a class="logo" href="index.html"><img src="images/Logo.svg" alt="Jomp" width="53" height="51"></a><strong class="company-name">ООО “Jomp”</strong>
                <address>Cанкт-Петербург, ул. Типанова 38</address>
              </div>
              <div class="list-holder">
                <div class="list-col"><strong class="footer-title">Продукты</strong>
                  <ul class="footer-list">
                    <li><a href="#">Видеореклама</a></li>
                    <li><a href="#">Реклама на билбордах</a></li>
                    <li><a href="#">Площадкам</a></li>
                  </ul>
                </div>
                <div class="list-col"><strong class="footer-title">Информация</strong>
                  <ul class="footer-list">
                    <li><a href="#">Правила участия</a></li>
                    <li><a href="#">Платежи</a></li>
                    <li><a href="#">Партнерская программа</a></li>
                    <li><a href="#">Правообладателям</a></li>
                  </ul>
                </div>
                <div class="list-col"><strong class="footer-title">Компания</strong>
                  <ul class="footer-list">
                    <li><a href="#">О проекте</a></li>
                    <li><a href="#">Контакты</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="small-col">
              <div class="contact-row">
                <div class="icon"><img src="images/icon4.svg" alt="Jomp" width="46" height="37"></div><strong class="title hidden-tablet">Служба поддержки</strong>
                <ul class="footer-contact-list">
                  <li><a class="tel" href="tel:88126400835">8 (812) 640-08-35</a></li>
                  <li><a class="email" href="mailto:&amp;#115;&amp;#117;&amp;#112;&amp;#112;&amp;#111;&amp;#114;&amp;#116;&amp;#064;&amp;#106;&amp;#111;&amp;#109;&amp;#112;&amp;#046;&amp;#114;&amp;#117;">&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#064;&#106;&#111;&#109;&#112;&#046;&#114;&#117;</a></li>
                </ul>
              </div>
              <ul class="social-networks">
                <li><a href="#"><img src="images/icon-vk.svg" alt="vk" width="16" height="9"></a></li>
                <li><a href="#"><img src="images/icon-instagram.svg" alt="instagram" width="15" height="15"></a></li>
                <li><a href="#"><img src="images/icon-facebook.svg" alt="facebook" width="14" height="14"></a></li>
              </ul>
            </div>
          </div>
          <div class="bottom-section">
            <div class="address-row hidden-tablet"><strong class="name">ООО “Jomp”</strong>
              <address>Cанкт-Петербург, ул. Типанова 38</address>
            </div><span class="copyright">&#169; 2020 — Jomp</span>
            <ul class="footer-bottom-list">
              <li><a href="#">Политика конфиденциальности</a></li>
              <li><a href="#">Лицензионный договор</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/jquery-3.1.1.min.js"></script>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>-->
    <!--<script>window.jQuery || document.write('<script src="js/jquery-3.3.1.min.js" defer><\/script>')</script>-->
    <script src="js/jquery.plugins.min.js"></script>
    <script src="js/jquery.main.js"></script>
  </body>
</html>

src/article.pug
extends layouts/base

block title
    - var currentPage = "blog"
    title Jomp

block main
    #main.has-border
        .container
            ul.breadcrumb
                li
                    a(href="" + blog_page) Блог
                li
                    span Наружная реклама
            .article-caption
                h1 Что такое unit-экономика стартапа
                .post-info-block
                    ul.post-info-list
                        li
                            img.icon(src="images/date-icon-dark.svg" alt="icon" width="20" height="21" loading="lazy")
                            span 30.01.2018
                        li
                            img.icon(src="images/eye-icon-dark.svg" alt="icon" width="20" height="10" loading="lazy")
                            span 546
                    .rate-block
                        span.title 4.1
                        .rating
                            input#rating-5(type="radio" value="5" name="rating" checked)
                            label(for="rating-5" title="5 stars")
                            input#rating-4(type="radio" value="4" name="rating" checked)
                            label(for="rating-4" title="4 stars")
                            input#rating-3(type="radio" value="3" name="rating" checked)
                            label(for="rating-3" title="3 stars")
                            input#rating-2(type="radio" value="2" name="rating")
                            label(for="rating-2" title="2 stars")
                            input#rating-1(type="radio" value="1" name="rating")
                            label(for="rating-1" title="1 stars")
                        span.rate-amount.visible-tablet 145 оценок
            .article-img
                picture.bg-strech
                    source(srcset="images/img20.webp" type="image/webp")
                    source(srcset="images/img20.jpg" type="image/jpg")
                    img(src="images/img20.webp" alt="image" width="1282" height="504" loading="lazy")
            .article-layout
                .content
                    .main-article-text
                        p.lead-text Принятие решений на основе цифр. Максимальный эффект. Кратный рост. <br/> Фокус-Скорость-Результат. UA, C1, B, AVP, COGS, APC, ARPC, ARPU, AC, CPA, CM и много других непонятных сокращений.
                        .gray-bg-block
                            strong.title Содержание
                            ol.ordered-list
                                li
                                    span Что такое юнит-экономика и зачем она нужна
                                    ol.ordered-list
                                        li
                                            span С чего начать
                                        li
                                            span Инструменты, шаблоны
                                li
                                    span Решаем задачи и нарабатываем навык работы
                                    ol.ordered-list
                                        li
                                            span Симулятор стартапа
                                        li
                                            span IPO
                                        li
                                            span Шаблон расчёта
                                        li
                                            span Бот
                        h2.h4 О чём публикация и что стоит знать
                        p Юнит-экономика (unit economics) — метод экономического моделирования, используемый для определения прибыльности бизнес-модели, путем оценки прибыльности единицы товара или одного клиента.Как правило, применяется для оценки прибыльности бизнес-идеи стартапа.
                        p Бизнес может быть успешным только если отдельная единица товара или услуги будет прибыльной.
                        figure.content-article-img
                            picture
                                source(srcset="images/img21.webp" type="image/webp")
                                source(srcset="images/img21.png" type="image/png")
                                source(srcset="images/img21-mob.webp" type="image/webp" media="(min-width: 768px)")
                                source(srcset="images/img21-mob.png" type="image/png" media="(min-width: 768px)")
                                img.hidden-tablet(src="images/img21-mob.webp" alt="image" width="320" height="182" loading="lazy")
                                img.visible-tablet(src="images/img21.webp" alt="image" width="736" height="517" loading="lazy")
                            figcaption Это пример подписи к изображению
                        p Симулятор стартапа от Даниила Ханина, который заставляет вас пройти через все круги aда (то есть через все стадии стартапа). Потратив один день на эту игру, вы сможете на практике понять, как работать с юнит-экономикой, на какие показатели на каждой стадии стоит фокусироваться. Будьте готовы к тому, что вам нужно будет начинать игру с начала много раз.
                        strong.additional-article-title Статья по теме:
                        .additional-article
                            a.image(href="" + static_link)(style="background-image:url('images/img22.png')")
                                picture.bg-strech
                                    source(srcset="images/img22.webp" type="image/webp")
                                    source(srcset="images/img22.png" type="image/png")
                                    img(src="images/img22.webp" alt="image" width="92" height="81" loading="lazy")
                            .text
                                strong.title
                                    a(href="" + static_link) Как посчитать ROI наружной рекламы
                                p.visible-tablet Рацион должен быть полностью сбалансированным, без излишеств и недоеданий.
                                a.category-link.hidden-tablet(href="" + static_link) Оптимизация
                        h3 Самое важное: решаем задачи и нарабатываем навык работы с юнит-экономикой
                        p Если вы любитель хардкора: просто начинайте сразу с симулятора стартапа. Когда вы дойдете до стадии IPO, можно будет смело сказать, что в азах юнит-экономики вы шарите. Рекомендую сразу открыть в соседней вкладке шаблон расчёта, вводить в него все данные из симулятора и искать метрику, изменение которой даст вам больше выхлопа и приблизит к следующей стадии проекта.
                        ul.bullet-list
                            li Шаблон от Ильи Красинского;
                            li Шаблон от Даниила Ханина ;
                            li Калькулятор ueCalc от Ханина.
                        h3 Набор инструментов
                        p Рекомендую сразу открыть в соседней вкладке шаблон расчёта, вводить в него все данные из симулятора и искать метрику
                        ul.content-list
                            li
                                strong.lead Инструмент 1:
                                span Бот от команды Ильи Красинского, который присылает кейсы, видео, разные материалы.
                            li
                                strong.lead Инструмент 2:
                                span Симулятор стартапа от Даниила Ханина
                            li
                                strong.lead Инструмент 3:
                                span Если вы любитель хардкора: просто начинайте сразу с симулятора стартапа
                        figure.content-article-img
                            picture
                                source(srcset="images/img23.webp" type="image/webp")
                                source(srcset="images/img23.png" type="image/png")
                                source(srcset="images/img23-mob.webp" type="image/webp" media="(min-width: 768px)")
                                source(srcset="images/img23-mob.png" type="image/png" media="(min-width: 768px)")
                                img.hidden-tablet(src="images/img23-mob.webp" alt="image" width="320" height="182" loading="lazy")
                                img.visible-tablet(src="images/img23.webp" alt="image" width="736" height="517" loading="lazy")
                            figcaption Это пример подписи к изображению
                        p Юнит-экономика показывает как бизнес зарабатывает с потока пользователей. Схема работы бизнеса: на входе принимаем пользователей, которые проходят через черный ящик бизнеса и приносят деньги. При этом помним, что деньги бывают как со знаком плюс, так и минус.
                    .share-block
                        strong.subtitle Поделиться с друзьями
                        ul.share-list
                            li
                                a(href="" + static_link)
                                    img.icon(src="images/share-vk.svg" alt="icon" width="18" height="18" loading="lazy")
                                    span Поделиться
                            li
                                a(href="" + static_link)
                                    img.icon(src="images/share-ok.svg" alt="icon" width="18" height="18" loading="lazy")
                                    span Поделиться
                            li
                                a(href="" + static_link)
                                    img.icon(src="images/share-fb.svg" alt="icon" width="18" height="18" loading="lazy")
                                    span Поделиться
                            li
                                a(href="" + static_link)
                                    img.icon(src="images/share-tw.svg" alt="icon" width="18" height="18" loading="lazy")
                                    span Поделиться
                            li
                                a(href="" + static_link)
                                    img.icon(src="images/share-lk.svg" alt="icon" width="18" height="18" loading="lazy")
                                    span Поделиться
                    .recommend-material.visible-desktop
                        h3 Рекомендуем почитать по теме
                        .recommend-topics-frame
                            .recommend-topic
                                .topic-img
                                    picture.bg-strech
                                        source(srcset="images/img24.webp" type="image/webp")
                                        source(srcset="images/img24.png" type="image/png")
                                        img(src="images/img24.webp" alt="image" width="354" height="220" loading="lazy")
                                    span.label Наружная реклама
                                h4
                                    a(href="" + article_page) Как посчитать ROI наружной рекламы
                                ul.post-info-list
                                    li
                                        img.icon(src="images/date-icon-dark.svg" alt="icon" width="20" height="21" loading="lazy")
                                        span 30.01.2018
                                    li
                                        img.icon(src="images/eye-icon-dark.svg" alt="icon" width="20" height="10" loading="lazy")
                                        span 546
                            .recommend-topic
                                .topic-img
                                    picture.bg-strech
                                        source(srcset="images/img25.webp" type="image/webp")
                                        source(srcset="images/img25.png" type="image/png")
                                        img(src="images/img25.webp" alt="image" width="354" height="220" loading="lazy")
                                    span.label Наружная реклама
                                h4
                                    a(href="" + article_page) Как запустить эффективную и прибыльную рекламу
                                ul.post-info-list
                                    li
                                        img.icon(src="images/date-icon-dark.svg" alt="icon" width="20" height="21")
                                        span 30.01.2018
                                    li
                                        img.icon(src="images/eye-icon-dark.svg" alt="icon" width="20" height="10")
                                        span 546
                aside.aside
                    .aside-articles-frame
                        strong.subtitle
                            span.visible-tablet Популярные статьи
                            span.hidden-tablet Рекомендуем почитать по теме
                        .additional-article
                            a.image(href="" + article_page)
                                picture.bg-strech
                                    source(srcset="images/img22.webp" type="image/webp")
                                    source(srcset="images/img22.png" type="image/png")
                                    img(src="images/img22.webp" alt="image" width="100" height="81" loading="lazy")
                            .text
                                strong.title
                                    a(href="" + article_page) Как посчитать ROI наружной рекламы
                                a.category-link(href="" + static_link) Оптимизация
                        .additional-article
                            a.image(href="" + article_page)
                                picture.bg-strech
                                    source(srcset="images/img26.webp" type="image/webp")
                                    source(srcset="images/img26.png" type="image/png")
                                    img(src="images/img26.webp" alt="image" width="100" height="81" loading="lazy")
                            .text
                                strong.title
                                    a(href="" + article_page) Что такое unit-экономика стартапа
                                a.category-link(href="" + static_link) Наружная реклама
                        .additional-article
                            a.image(href="" + article_page)
                                picture.bg-strech
                                    source(srcset="images/img27.webp" type="image/webp")
                                    source(srcset="images/img27.png" type="image/png")
                                    img(src="images/img27.webp" alt="image" width="100" height="81" loading="lazy")
                            .text
                                strong.title
                                    a(href="" + article_page) Как запустить эффективную и прибыльную рекламу
                                a.category-link(href="" + static_link) Исследования
                    .subscribe-block
                        h3 Подпишитесь на блог Jomp
                        p Получайте еженедельно полезный контент видеорекламу и заработок на сайтах
                        form(action="#")
                            input(type="email" value="subscriber@gmail.com")
                            button.btn.has-shadow(type="submit") Подписаться
