src/blog_2.pug
extends layouts/base

block title
    - var currentPage = "blog"
    title Jomp

block main
    #main.has-border
        .container
            .blog-caption.selected-article
                .title-box
                    span.article-subtitle Статьи по теме
                    h1.h2 Наружная реклама
                .search-box.popup-holder
                    button.search-btn.opener(type="button")
                    .popup
                        input(type="search" placeholder="Поиск статей")
            ul.articles-category-list
                li
                    a(href="" + blog_page) Все статьи
                li.active
                    a(href="" + 'blog_2.html') Наружная реклама
                li
                    a(href="" + static_link) Оптимизация
                li
                    a(href="" + static_link) Исследования
                li
                    a(href="" + static_link) Дизайн
                li
                    a(href="" + static_link) Интервью и мнение
                li
                    a(href="" + static_link) Обзоры
            .blog-layout
                .content
                    .post-block
                        .img-preview
                            picture.bg-strech
                                source(srcset="images/img17.webp" type="image/webp")
                                source(srcset="images/img17.png" type="image/png")
                                img(src="images/img17.webp" alt="image" width="845" height="420" loading="lazy")
                        .heading
                            ul.post-category-list
                                li Оптимизация
                                li.visible-tablet Наружная реклама
                            h2
                                a(href="" + article_page) Как запустить эффективную и прибыльную рекламу
                        p.visible-tablet Это платформа для размещения рекламы на Digital Outdoor и Indoor экранах. Быстрый запуск, гибкое управление, медиапланирование, контроль бюджетов и online-статистика в личном кабинете...
                        .post-info-block
                            ul.post-info-list
                                li
                                    img.icon(src="images/date-icon-dark.svg" alt="icon" width="20" height="21" loading="lazy")
                                    span 30.01.2018
                                li
                                    img.icon(src="images/eye-icon-dark.svg" alt="icon" width="20" height="10" loading="lazy")
                                    span 546
                            .rate-block
                                span.title 4.1
                                .rating
                                    input#rating-5(type="radio" value="5" name="rating")
                                    label(for="rating-5" title="5 stars")
                                    input#rating-4(type="radio" value="4" name="rating")
                                    label(for="rating-4" title="4 stars")
                                    input#rating-3(type="radio" value="3" name="rating")
                                    label(for="rating-3" title="3 stars")
                                    input#rating-2(type="radio" value="2" name="rating")
                                    label(for="rating-2" title="2 stars")
                                    input#rating-1(type="radio" value="1" name="rating")
                                    label(for="rating-1" title="1 stars")
                                span.rate-amount.visible-tablet 145 оценок
                    .post-block
                        .img-preview
                            picture.bg-strech
                                source(srcset="images/img18.webp" type="image/webp")
                                source(srcset="images/img18.png" type="image/png")
                                img(src="images/img18.webp" alt="image" width="845" height="420" loading="lazy")
                        .heading
                            ul.post-category-list
                                li Оптимизация
                                li.visible-tablet Наружная реклама
                            h2
                                a(href="" + article_page) Как запустить эффективную и прибыльную рекламу
                        p.visible-tablet Это платформа для размещения рекламы на Digital Outdoor и Indoor экранах. Быстрый запуск, гибкое управление, медиапланирование, контроль бюджетов и online-статистика в личном кабинете...
                        .post-info-block
                            ul.post-info-list
                                li
                                    img.icon(src="images/date-icon-dark.svg" alt="icon" width="20" height="21" loading="lazy")
                                    span 30.01.2018
                                li
                                    img.icon(src="images/eye-icon-dark.svg" alt="icon" width="20" height="10" loading="lazy")
                                    span 546
                            .rate-block
                                span.title 4.1
                                .rating
                                    input#rating-5_2(type="radio" value="5" name="rating_2")
                                    label(for="rating-5_2" title="5 stars")
                                    input#rating-4_2(type="radio" value="4" name="rating_2")
                                    label(for="rating-4_2" title="4 stars")
                                    input#rating-3_2(type="radio" value="3" name="rating_2")
                                    label(for="rating-3_2" title="3 stars")
                                    input#rating-2_2(type="radio" value="2" name="rating_2")
                                    label(for="rating-2_2" title="2 stars")
                                    input#rating-1_2(type="radio" value="1" name="rating_2")
                                    label(for="rating-1_2" title="1 stars")
                                span.rate-amount.visible-tablet 145 оценок
                    .post-block
                        .img-preview
                            picture.bg-strech
                                source(srcset="images/img19.webp" type="image/webp")
                                source(srcset="images/img19.png" type="image/png")
                                img(src="images/img19.webp" alt="image" width="845" height="420" loading="lazy")
                        .heading
                            ul.post-category-list
                                li Оптимизация
                                li.visible-tablet Наружная реклама
                            h2
                                a(href="" + article_page) Как запустить эффективную и прибыльную рекламу
                        p.visible-tablet Это платформа для размещения рекламы на Digital Outdoor и Indoor экранах. Быстрый запуск, гибкое управление, медиапланирование, контроль бюджетов и online-статистика в личном кабинете...
                        .post-info-block
                            ul.post-info-list
                                li
                                    img.icon(src="images/date-icon-dark.svg" alt="icon" width="20" height="21" loading="lazy")
                                    span 30.01.2018
                                li
                                    img.icon(src="images/eye-icon-dark.svg" alt="icon" width="20" height="10" loading="lazy")
                                    span 546
                            .rate-block
                                span.title 4.1
                                .rating
                                    input#rating-5_3(type="radio" value="5" name="rating_3")
                                    label(for="rating-5_3" title="5 stars")
                                    input#rating-4_3(type="radio" value="4" name="rating_3")
                                    label(for="rating-4_3" title="4 stars")
                                    input#rating-3_3(type="radio" value="3" name="rating_3")
                                    label(for="rating-3_3" title="3 stars")
                                    input#rating-2_3(type="radio" value="2" name="rating_3")
                                    label(for="rating-2_3" title="2 stars")
                                    input#rating-1_3(type="radio" value="1" name="rating_3")
                                    label(for="rating-1_3" title="1 stars")
                                span.rate-amount.visible-tablet 145 оценок
                    .pagination-frame
                        button.pagination-btn.prev(type="button") Назад
                        ul.pagination-list
                            li
                                a(href="" + static_link) 1
                            li.active
                                span 2
                            li
                                a(href="" + static_link) 3
                            li
                                span ...
                            li
                                a(href="" + static_link) 15
                        button.pagination-btn.next(type="button") Вперед
                aside.aside
                    .subscribe-block
                        h3 Подпишитесь на блог Jomp
                        p Получайте еженедельно полезный контент видеорекламу и заработок на сайтах
                        form(action="#")
                            input(type="email" value="subscriber@gmail.com")
                            button.btn.has-shadow(type="submit") Подписаться

html/blog_2.html
<!DOCTYPE html>
<html>
  <head>
    <title>Jomp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <link rel="preload" as="style" media="all" href="css/header.css" onload="this.rel='stylesheet'">
    <link rel="preload" as="style" media="all" href="css/critical.css" onload="this.rel='stylesheet'">
    <link rel="stylesheet" media="all" href="css/all.css">
  </head>
  <body>
    <div id="wrapper">
      <div class="w1">
        <header id="header">
          <div class="container">
            <div class="logo-holder"><a class="logo" href="index.html"><img src="images/Logo.svg" alt="Jomp" width="53" height="51"></a><a class="nav-opener" href="#"></a></div>
            <nav id="nav">
              <div class="menu-holder">
                <ul class="menu">
                  <li><a href="index.html"></a></li>
                  <li><a href="video_adv.html">Видеореклама</a></li>
                  <li><a href="billboard_adv.html">Реклама на билбордах</a></li>
                  <li><a href="sites.html">Площадкам</a></li>
                  <li class="active"><a href="blog.html">Блог</a></li>
                  <li class="popup-holder"><a class="opener">Еще</a>
                    <ul class="popup">
                      <li><a href="#">FAQ</a></li>
                      <li><a href="#">О проекте</a></li>
                      <li><a href="#">Партнерская программа</a></li>
                      <li><a href="#">Платежи</a></li>
                      <li><a href="#">Правила участия</a></li>
                      <li><a href="#">Контакты</a></li>
                    </ul>
                  </li>
                </ul>
                <div class="nav-menu-buttons">
                  <button class="btn" type="button">Зарегистрироваться</button>
                  <p>
                    <button class="text-btn" type="button">Войти</button>
                  </p>
                </div>
              </div>
            </nav>
            <div class="registration-buttons">
              <button class="text-btn" type="button">Вход</button>
              <button class="btn" type="button">Регистрация</button>
            </div>
          </div>
        </header>
        <div class="has-border" id="main">
          <div class="container">
            <div class="blog-caption selected-article">
              <div class="title-box"><span class="article-subtitle">Статьи по теме</span>
                <h1 class="h2">Наружная реклама</h1>
              </div>
              <div class="search-box popup-holder">
                <button class="search-btn opener" type="button"></button>
                <div class="popup">
                  <input type="search" placeholder="Поиск статей">
                </div>
              </div>
            </div>
            <ul class="articles-category-list">
              <li><a href="blog.html">Все статьи</a></li>
              <li class="active"><a href="blog_2.html">Наружная реклама</a></li>
              <li><a href="#">Оптимизация</a></li>
              <li><a href="#">Исследования</a></li>
              <li><a href="#">Дизайн</a></li>
              <li><a href="#">Интервью и мнение</a></li>
              <li><a href="#">Обзоры</a></li>
            </ul>
            <div class="blog-layout">
              <div class="content">
                <div class="post-block">
                  <div class="img-preview">
                    <picture class="bg-strech">
                      <source srcset="images/img17.webp" type="image/webp">
                      <source srcset="images/img17.png" type="image/png"><img src="images/img17.webp" alt="image" width="845" height="420" loading="lazy">
                    </picture>
                  </div>
                  <div class="heading">
                    <ul class="post-category-list">
                      <li>Оптимизация</li>
                      <li class="visible-tablet">Наружная реклама</li>
                    </ul>
                    <h2><a href="article.html">Как запустить эффективную и прибыльную рекламу</a></h2>
                  </div>
                  <p class="visible-tablet">Это платформа для размещения рекламы на Digital Outdoor и Indoor экранах. Быстрый запуск, гибкое управление, медиапланирование, контроль бюджетов и online-статистика в личном кабинете...</p>
                  <div class="post-info-block">
                    <ul class="post-info-list">
                      <li><img class="icon" src="images/date-icon-dark.svg" alt="icon" width="20" height="21" loading="lazy"><span>30.01.2018</span></li>
                      <li><img class="icon" src="images/eye-icon-dark.svg" alt="icon" width="20" height="10" loading="lazy"><span>546</span></li>
                    </ul>
                    <div class="rate-block"><span class="title">4.1</span>
                      <div class="rating">
                        <input id="rating-5" type="radio" value="5" name="rating">
                        <label for="rating-5" title="5 stars"></label>
                        <input id="rating-4" type="radio" value="4" name="rating">
                        <label for="rating-4" title="4 stars"></label>
                        <input id="rating-3" type="radio" value="3" name="rating">
                        <label for="rating-3" title="3 stars"></label>
                        <input id="rating-2" type="radio" value="2" name="rating">
                        <label for="rating-2" title="2 stars"></label>
                        <input id="rating-1" type="radio" value="1" name="rating">
                        <label for="rating-1" title="1 stars"></label>
                      </div><span class="rate-amount visible-tablet">145 оценок</span>
                    </div>
                  </div>
                </div>
                <div class="post-block">
                  <div class="img-preview">
                    <picture class="bg-strech">
                      <source srcset="images/img18.webp" type="image/webp">
                      <source srcset="images/img18.png" type="image/png"><img src="images/img18.webp" alt="image" width="845" height="420" loading="lazy">
                    </picture>
                  </div>
                  <div class="heading">
                    <ul class="post-category-list">
                      <li>Оптимизация</li>
                      <li class="visible-tablet">Наружная реклама</li>
                    </ul>
                    <h2><a href="article.html">Как запустить эффективную и прибыльную рекламу</a></h2>
                  </div>
                  <p class="visible-tablet">Это платформа для размещения рекламы на Digital Outdoor и Indoor экранах. Быстрый запуск, гибкое управление, медиапланирование, контроль бюджетов и online-статистика в личном кабинете...</p>
                  <div class="post-info-block">
                    <ul class="post-info-list">
                      <li><img class="icon" src="images/date-icon-dark.svg" alt="icon" width="20" height="21" loading="lazy"><span>30.01.2018</span></li>
                      <li><img class="icon" src="images/eye-icon-dark.svg" alt="icon" width="20" height="10" loading="lazy"><span>546</span></li>
                    </ul>
                    <div class="rate-block"><span class="title">4.1</span>
                      <div class="rating">
                        <input id="rating-5_2" type="radio" value="5" name="rating_2">
                        <label for="rating-5_2" title="5 stars"></label>
                        <input id="rating-4_2" type="radio" value="4" name="rating_2">
                        <label for="rating-4_2" title="4 stars"></label>
                        <input id="rating-3_2" type="radio" value="3" name="rating_2">
                        <label for="rating-3_2" title="3 stars"></label>
                        <input id="rating-2_2" type="radio" value="2" name="rating_2">
                        <label for="rating-2_2" title="2 stars"></label>
                        <input id="rating-1_2" type="radio" value="1" name="rating_2">
                        <label for="rating-1_2" title="1 stars"></label>
                      </div><span class="rate-amount visible-tablet">145 оценок</span>
                    </div>
                  </div>
                </div>
                <div class="post-block">
                  <div class="img-preview">
                    <picture class="bg-strech">
                      <source srcset="images/img19.webp" type="image/webp">
                      <source srcset="images/img19.png" type="image/png"><img src="images/img19.webp" alt="image" width="845" height="420" loading="lazy">
                    </picture>
                  </div>
                  <div class="heading">
                    <ul class="post-category-list">
                      <li>Оптимизация</li>
                      <li class="visible-tablet">Наружная реклама</li>
                    </ul>
                    <h2><a href="article.html">Как запустить эффективную и прибыльную рекламу</a></h2>
                  </div>
                  <p class="visible-tablet">Это платформа для размещения рекламы на Digital Outdoor и Indoor экранах. Быстрый запуск, гибкое управление, медиапланирование, контроль бюджетов и online-статистика в личном кабинете...</p>
                  <div class="post-info-block">
                    <ul class="post-info-list">
                      <li><img class="icon" src="images/date-icon-dark.svg" alt="icon" width="20" height="21" loading="lazy"><span>30.01.2018</span></li>
                      <li><img class="icon" src="images/eye-icon-dark.svg" alt="icon" width="20" height="10" loading="lazy"><span>546</span></li>
                    </ul>
                    <div class="rate-block"><span class="title">4.1</span>
                      <div class="rating">
                        <input id="rating-5_3" type="radio" value="5" name="rating_3">
                        <label for="rating-5_3" title="5 stars"></label>
                        <input id="rating-4_3" type="radio" value="4" name="rating_3">
                        <label for="rating-4_3" title="4 stars"></label>
                        <input id="rating-3_3" type="radio" value="3" name="rating_3">
                        <label for="rating-3_3" title="3 stars"></label>
                        <input id="rating-2_3" type="radio" value="2" name="rating_3">
                        <label for="rating-2_3" title="2 stars"></label>
                        <input id="rating-1_3" type="radio" value="1" name="rating_3">
                        <label for="rating-1_3" title="1 stars"></label>
                      </div><span class="rate-amount visible-tablet">145 оценок</span>
                    </div>
                  </div>
                </div>
                <div class="pagination-frame">
                  <button class="pagination-btn prev" type="button">Назад</button>
                  <ul class="pagination-list">
                    <li><a href="#">1</a></li>
                    <li class="active"><span>2</span></li>
                    <li><a href="#">3</a></li>
                    <li><span>...</span></li>
                    <li><a href="#">15</a></li>
                  </ul>
                  <button class="pagination-btn next" type="button">Вперед</button>
                </div>
              </div>
              <aside class="aside">
                <div class="subscribe-block">
                  <h3>Подпишитесь на блог Jomp</h3>
                  <p>Получайте еженедельно полезный контент видеорекламу и заработок на сайтах</p>
                  <form action="#">
                    <input type="email" value="subscriber@gmail.com">
                    <button class="btn has-shadow" type="submit">Подписаться</button>
                  </form>
                </div>
              </aside>
            </div>
          </div>
        </div>
      </div>
      <footer id="footer">
        <div class="container">
          <div class="top-section">
            <div class="large-col">
              <div class="logo-col visible-tablet"><a class="logo" href="index.html"><img src="images/Logo.svg" alt="Jomp" width="53" height="51"></a><strong class="company-name">ООО “Jomp”</strong>
                <address>Cанкт-Петербург, ул. Типанова 38</address>
              </div>
              <div class="list-holder">
                <div class="list-col"><strong class="footer-title">Продукты</strong>
                  <ul class="footer-list">
                    <li><a href="#">Видеореклама</a></li>
                    <li><a href="#">Реклама на билбордах</a></li>
                    <li><a href="#">Площадкам</a></li>
                  </ul>
                </div>
                <div class="list-col"><strong class="footer-title">Информация</strong>
                  <ul class="footer-list">
                    <li><a href="#">Правила участия</a></li>
                    <li><a href="#">Платежи</a></li>
                    <li><a href="#">Партнерская программа</a></li>
                    <li><a href="#">Правообладателям</a></li>
                  </ul>
                </div>
                <div class="list-col"><strong class="footer-title">Компания</strong>
                  <ul class="footer-list">
                    <li><a href="#">О проекте</a></li>
                    <li><a href="#">Контакты</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="small-col">
              <div class="contact-row">
                <div class="icon"><img src="images/icon4.svg" alt="Jomp" width="46" height="37"></div><strong class="title hidden-tablet">Служба поддержки</strong>
                <ul class="footer-contact-list">
                  <li><a class="tel" href="tel:88126400835">8 (812) 640-08-35</a></li>
                  <li><a class="email" href="mailto:&amp;#115;&amp;#117;&amp;#112;&amp;#112;&amp;#111;&amp;#114;&amp;#116;&amp;#064;&amp;#106;&amp;#111;&amp;#109;&amp;#112;&amp;#046;&amp;#114;&amp;#117;">&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#064;&#106;&#111;&#109;&#112;&#046;&#114;&#117;</a></li>
                </ul>
              </div>
              <ul class="social-networks">
                <li><a href="#"><img src="images/icon-vk.svg" alt="vk" width="16" height="9"></a></li>
                <li><a href="#"><img src="images/icon-instagram.svg" alt="instagram" width="15" height="15"></a></li>
                <li><a href="#"><img src="images/icon-facebook.svg" alt="facebook" width="14" height="14"></a></li>
              </ul>
            </div>
          </div>
          <div class="bottom-section">
            <div class="address-row hidden-tablet"><strong class="name">ООО “Jomp”</strong>
              <address>Cанкт-Петербург, ул. Типанова 38</address>
            </div><span class="copyright">&#169; 2020 — Jomp</span>
            <ul class="footer-bottom-list">
              <li><a href="#">Политика конфиденциальности</a></li>
              <li><a href="#">Лицензионный договор</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/jquery-3.1.1.min.js"></script>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" defer></script>-->
    <!--<script>window.jQuery || document.write('<script src="js/jquery-3.3.1.min.js" defer><\/script>')</script>-->
    <script src="js/jquery.plugins.min.js"></script>
    <script src="js/jquery.main.js"></script>
  </body>
</html>
