src/tab_block2.pug
extends layouts/base_tabs

block title
    - var currentPage = "video_adv"
    title Jomp

block main
    #main
        .format-tabs.secondary
            .container
                .caption
                    h2.small-h2 Форматы видеорекламы на сайтах
                input#format-tab-1(type="radio" name="format-tab" checked)
                label.format-tab-label(for="format-tab-1") Intop
                input#format-tab-2(type="radio" name="format-tab")
                label.format-tab-label(for="format-tab-2") Autoplay
                input#format-tab-3(type="radio" name="format-tab")
                label.format-tab-label(for="format-tab-3") Inpage
                .tab-content
                    .tab-slide#video-player
                        .top-block
                            strong.heading Реклама над шапкой сайта
                            p Минимум времени при подготовке сайта. Один код на страницу. Поддержка подскажет, а система обеспечит стабильность.
                        .bottom-block
                            .img-col
                                img(src="images/img15-gray.svg" alt="image" width="484" height="615")
                            .img-col.is-active
                                img(src="images/img16-color.svg" alt="image" width="484" height="615")
                            .img-col
                                img(src="images/img14-gray.svg" alt="image" width="484" height="615")
                    .tab-slide#video-block
                        .top-block
                            strong.heading Реклама в видеороликах
                            p Минимум времени при подготовке сайта. Один код на страницу. Поддержка подскажет, а система обеспечит стабильность.
                        .bottom-block
                            .img-col
                                img(src="images/img15-gray.svg" alt="image" width="484" height="615")
                            .img-col.is-active
                                img(src="images/img13-color.svg" alt="image" width="484" height="615")
                            .img-col
                                img(src="images/img16-gray.svg" alt="image" width="484" height="615")
                    .tab-slide#video-library
                        .top-block
                            strong.heading Рклама на страницах сайтов
                            p Минимум времени при подготовке сайта. Один код на страницу. Поддержка подскажет, а система обеспечит стабильность.
                        .bottom-block
                            .img-col
                                img(src="images/img13-gray.svg" alt="image" width="484" height="615")
                            .img-col.is-active
                                img(src="images/img15-color.svg" alt="image" width="484" height="615")
                            .img-col
                                img(src="images/img16-gray.svg" alt="image" width="484" height="615")

html/tab_block2.html
<!DOCTYPE html>
<html>
  <head>
    <title>Jomp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" media="all" href="css/all.css">
  </head>
  <body>
    <div id="wrapper">
      <div class="w1">
        <div id="main">
          <div class="format-tabs secondary">
            <div class="container">
              <div class="caption">
                <h2 class="small-h2">Форматы видеорекламы на сайтах</h2>
              </div>
              <input id="format-tab-1" type="radio" name="format-tab" checked>
              <label class="format-tab-label" for="format-tab-1">Intop</label>
              <input id="format-tab-2" type="radio" name="format-tab">
              <label class="format-tab-label" for="format-tab-2">Autoplay</label>
              <input id="format-tab-3" type="radio" name="format-tab">
              <label class="format-tab-label" for="format-tab-3">Inpage</label>
              <div class="tab-content">
                <div class="tab-slide" id="video-player">
                  <div class="top-block"><strong class="heading">Реклама над шапкой сайта</strong>
                    <p>Минимум времени при подготовке сайта. Один код на страницу. Поддержка подскажет, а система обеспечит стабильность.</p>
                  </div>
                  <div class="bottom-block">
                    <div class="img-col"><img src="images/img15-gray.svg" alt="image" width="484" height="615"></div>
                    <div class="img-col is-active"><img src="images/img16-color.svg" alt="image" width="484" height="615"></div>
                    <div class="img-col"><img src="images/img14-gray.svg" alt="image" width="484" height="615"></div>
                  </div>
                </div>
                <div class="tab-slide" id="video-block">
                  <div class="top-block"><strong class="heading">Реклама в видеороликах</strong>
                    <p>Минимум времени при подготовке сайта. Один код на страницу. Поддержка подскажет, а система обеспечит стабильность.</p>
                  </div>
                  <div class="bottom-block">
                    <div class="img-col"><img src="images/img15-gray.svg" alt="image" width="484" height="615"></div>
                    <div class="img-col is-active"><img src="images/img13-color.svg" alt="image" width="484" height="615"></div>
                    <div class="img-col"><img src="images/img16-gray.svg" alt="image" width="484" height="615"></div>
                  </div>
                </div>
                <div class="tab-slide" id="video-library">
                  <div class="top-block"><strong class="heading">Рклама на страницах сайтов</strong>
                    <p>Минимум времени при подготовке сайта. Один код на страницу. Поддержка подскажет, а система обеспечит стабильность.</p>
                  </div>
                  <div class="bottom-block">
                    <div class="img-col"><img src="images/img13-gray.svg" alt="image" width="484" height="615"></div>
                    <div class="img-col is-active"><img src="images/img15-color.svg" alt="image" width="484" height="615"></div>
                    <div class="img-col"><img src="images/img16-gray.svg" alt="image" width="484" height="615"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
