src/tab_block.pug
extends layouts/base_tabs

block title
    - var currentPage = ""
    title Jomp

block main
    #main
        .format-tabs
            .container
                .caption
                    h2.small-h2 Три уникальных формата <br/> для монетизации сайта
                input#format-tab-1(type="radio" name="format-tab" checked)
                label.format-tab-label(for="format-tab-1") Реклама <br class="hidden-tablet"/> в видеоплеер
                input#format-tab-2(type="radio" name="format-tab")
                label.format-tab-label(for="format-tab-2") Рекламный <br class="hidden-tablet"/> видеоблок
                input#format-tab-3(type="radio" name="format-tab")
                label.format-tab-label(for="format-tab-3")
                    span.visible-tablet Лицензионная видеотека
                    span.hidden-tablet Лицензион. видеотека
                .tab-content
                    .tab-slide#video-player
                        .top-block
                            strong.title
                                i.icon
                                    img(src="images/icon11.svg" alt="image" width="19" height="18")
                                span До 25 ₽ за показ
                            p Минимум времени при подготовке сайта. Один код на страницу. Поддержка подскажет, а система обеспечит стабильность.
                        .bottom-block
                            .img-col
                                img(src="images/img15-gray.svg" alt="image" width="484" height="615")
                            .img-col.is-active
                                img(src="images/img13-color.svg" alt="image" width="484" height="615")
                            .img-col
                                img(src="images/img14-gray.svg" alt="image" width="484" height="615")
                    .tab-slide#video-block
                        .top-block
                            strong.title
                                i.icon
                                    img(src="images/icon11.svg" alt="image" width="19" height="18")
                                span До 25 ₽ за показ
                            p Минимум времени при подготовке сайта. Один код на страницу. Поддержка подскажет, а система обеспечит стабильность.
                        .bottom-block
                            .img-col
                                img(src="images/img13-gray.svg" alt="image" width="484" height="615")
                            .img-col.is-active
                                img(src="images/img15-color.svg" alt="image" width="484" height="615")
                            .img-col
                                img(src="images/img14-gray.svg" alt="image" width="484" height="615")
                    .tab-slide#video-library
                        .top-block
                            strong.title
                                i.icon
                                    img(src="images/icon11.svg" alt="image" width="19" height="18")
                                span До 25 ₽ за показ
                            p Минимум времени при подготовке сайта. Один код на страницу. Поддержка подскажет, а система обеспечит стабильность.
                        .bottom-block
                            .img-col
                                img(src="images/img15-gray.svg" alt="image" width="484" height="615")
                            .img-col.is-active
                                img(src="images/img14-color.svg" alt="image" width="484" height="615")
                            .img-col
                                img(src="images/img13-gray.svg" alt="image" width="484" height="615")

html/tab_block.html
<!DOCTYPE html>
<html>
  <head>
    <title>Jomp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" media="all" href="css/all.css">
  </head>
  <body>
    <div id="wrapper">
      <div class="w1">
        <div id="main">
          <div class="format-tabs">
            <div class="container">
              <div class="caption">
                <h2 class="small-h2">Три уникальных формата <br/> для монетизации сайта</h2>
              </div>
              <input id="format-tab-1" type="radio" name="format-tab" checked>
              <label class="format-tab-label" for="format-tab-1">Реклама <br class="hidden-tablet"/> в видеоплеер</label>
              <input id="format-tab-2" type="radio" name="format-tab">
              <label class="format-tab-label" for="format-tab-2">Рекламный <br class="hidden-tablet"/> видеоблок</label>
              <input id="format-tab-3" type="radio" name="format-tab">
              <label class="format-tab-label" for="format-tab-3"><span class="visible-tablet">Лицензионная видеотека</span><span class="hidden-tablet">Лицензион. видеотека</span></label>
              <div class="tab-content">
                <div class="tab-slide" id="video-player">
                  <div class="top-block"><strong class="title"><i class="icon"><img src="images/icon11.svg" alt="image" width="19" height="18"></i><span>До 25 ₽ за показ</span></strong>
                    <p>Минимум времени при подготовке сайта. Один код на страницу. Поддержка подскажет, а система обеспечит стабильность.</p>
                  </div>
                  <div class="bottom-block">
                    <div class="img-col"><img src="images/img15-gray.svg" alt="image" width="484" height="615"></div>
                    <div class="img-col is-active"><img src="images/img13-color.svg" alt="image" width="484" height="615"></div>
                    <div class="img-col"><img src="images/img14-gray.svg" alt="image" width="484" height="615"></div>
                  </div>
                </div>
                <div class="tab-slide" id="video-block">
                  <div class="top-block"><strong class="title"><i class="icon"><img src="images/icon11.svg" alt="image" width="19" height="18"></i><span>До 25 ₽ за показ</span></strong>
                    <p>Минимум времени при подготовке сайта. Один код на страницу. Поддержка подскажет, а система обеспечит стабильность.</p>
                  </div>
                  <div class="bottom-block">
                    <div class="img-col"><img src="images/img13-gray.svg" alt="image" width="484" height="615"></div>
                    <div class="img-col is-active"><img src="images/img15-color.svg" alt="image" width="484" height="615"></div>
                    <div class="img-col"><img src="images/img14-gray.svg" alt="image" width="484" height="615"></div>
                  </div>
                </div>
                <div class="tab-slide" id="video-library">
                  <div class="top-block"><strong class="title"><i class="icon"><img src="images/icon11.svg" alt="image" width="19" height="18"></i><span>До 25 ₽ за показ</span></strong>
                    <p>Минимум времени при подготовке сайта. Один код на страницу. Поддержка подскажет, а система обеспечит стабильность.</p>
                  </div>
                  <div class="bottom-block">
                    <div class="img-col"><img src="images/img15-gray.svg" alt="image" width="484" height="615"></div>
                    <div class="img-col is-active"><img src="images/img14-color.svg" alt="image" width="484" height="615"></div>
                    <div class="img-col"><img src="images/img13-gray.svg" alt="image" width="484" height="615"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
